:root {
  --canvas: #ede8dd;
  --spruce: #2c3a26;
  --moss: #879365;
  --charcoal: #272323;
  --dawn: #d7684a;
  --ember: #4f1f1d;
  --fog: #adafa1;
  --river: #2d4656;
  --dusk: #363049;
  --sky: #a0cec7;
  --flame: #ee8936;
  --sandstone: #e8be7c;
}

body {
  color: var(--charcoal);
  background-color: var(--canvas);
}

.login h1 a {
  width: 100%;
  max-width: 104px;
  height: 157px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 104 157'%3E%3Cg clip-path='url(%23a)' fill='%23272323'%3E%3Cpath d='M50.589.993v154.996c0 .263-.103.516-.286.702a.97.97 0 0 1-.691.291H.977a.972.972 0 0 1-.892-.602 1.008 1.008 0 0 1 .187-1.071l44.581-47.989a1.004 1.004 0 0 0-.183-1.515.973.973 0 0 0-.54-.158H.977a.95.95 0 0 1-.537-.154.974.974 0 0 1-.425-.996.975.975 0 0 1 .257-.504l44.581-47.988a.999.999 0 0 0 .183-1.08.99.99 0 0 0-.365-.436.965.965 0 0 0-.541-.158H.977a.966.966 0 0 1-.534-.165 1.007 1.007 0 0 1-.171-1.508L48.906.313a.973.973 0 0 1 1.067-.236c.18.073.336.2.446.362.11.164.169.356.17.554ZM72.12 41.222V19.508l-.688-4.652a.542.542 0 0 1 .12-.419.525.525 0 0 1 .387-.188h8.015a.498.498 0 0 1 .386.176.517.517 0 0 1 .12.413l-.633 4.67v8.972a.52.52 0 0 0 .149.364c.095.097.224.151.358.151h14.673a.503.503 0 0 0 .359-.15.52.52 0 0 0 .148-.365v-8.972l-.67-4.652a.52.52 0 0 1 .278-.555.5.5 0 0 1 .211-.052h8.016a.499.499 0 0 1 .386.176.508.508 0 0 1 .104.193.51.51 0 0 1 .016.22l-.633 4.67v21.769l.633 4.67a.51.51 0 0 1-.016.22.508.508 0 0 1-.49.368h-7.925a.481.481 0 0 1-.382-.176.501.501 0 0 1-.107-.412l.67-4.652V35.54a.52.52 0 0 0-.149-.364.503.503 0 0 0-.358-.15H80.424a.503.503 0 0 0-.358.15.52.52 0 0 0-.148.364v5.737l.633 4.67a.524.524 0 0 1-.12.413.507.507 0 0 1-.387.175h-8.142a.499.499 0 0 1-.386-.175.516.516 0 0 1-.12-.413l.687-4.652M88.277 131.664l-7.093.846a.502.502 0 0 1-.393-.13.516.516 0 0 1-.167-.385v-8.55a.507.507 0 0 1 .142-.37.493.493 0 0 1 .364-.145h7.762c3.836 0 5.428 1.14 5.428 3.825 0 2.997-2.171 4.431-6.025 4.909h-.018Zm6.46 4.982a.512.512 0 0 1-.072-.46.507.507 0 0 1 .324-.33 9.651 9.651 0 0 0 4.868-3.572 9.905 9.905 0 0 0 1.845-5.805c0-4.872-3.618-9.561-11.778-9.561H72.752a.501.501 0 0 0-.386.176.512.512 0 0 0-.12.412l.687 4.652v21.733l-.688 4.706a.525.525 0 0 0 .12.413.501.501 0 0 0 .387.176h8.106a.502.502 0 0 0 .386-.176.52.52 0 0 0 .12-.413l-.723-4.706v-4.836a.518.518 0 0 1 .434-.515l5.428-.809a.49.49 0 0 1 .489.221l5.066 7.207a.617.617 0 0 1 0 .221l.56 3.383a.551.551 0 0 0 .507.423h9.3a.501.501 0 0 0 .449-.276.524.524 0 0 0-.033-.533l-8.106-11.731ZM91.461 71.633h8.016l3.962.423a.5.5 0 0 0 .411-.161.51.51 0 0 0 .132-.428l-.742-5.516a.51.51 0 0 0-.579-.33H72.5a.502.502 0 0 0-.34.13.518.518 0 0 0-.167.33l-.688 5.515a.522.522 0 0 0 .137.435.505.505 0 0 0 .424.153l3.89-.423h7.98v20.906l-.634 4.67a.524.524 0 0 0 .12.412.506.506 0 0 0 .387.176h8.015a.5.5 0 0 0 .387-.176.517.517 0 0 0 .12-.412l-.67-4.67V71.632Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h104v157H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 100%;
}

.login form {
  background-color: var(--spruce);
}

.login label {
  color: var(--canvas);
}

.login #nav a,
.login #backtoblog a,
.privacy-policy-link {
  font-size: 14px;
  color: var(--charcoal);
}

.login #nav a:hover,
.login #backtoblog a:hover,
.privacy-policy-link:hover {
  color: var(--dawn);
}

.wp-core-ui .button-primary {
  text-shadow: none;
  background-color: var(--dawn);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover {
  background-color: var(--dawn);
}

.message {
  color: var(--charcoal);
}

.privacy-policy-link {
  text-decoration: none;
}
