.btn-primary {
  @apply py-4 px-10 font-bicyclette font-bold text-btn-primary text-htr-charcoal no-underline uppercase tracking-wider bg-htr-dawn hover:text-htr-canvas hover:bg-htr-charcoal;
}

.btn-action {
  @apply py-4 px-10 font-bicyclette font-bold text-btn-action text-htr-charcoal no-underline uppercase tracking-wider bg-htr-sky hover:text-htr-charcoal hover:bg-htr-dawn;
}

.btn-icon {
  @apply flex items-center font-bicyclette font-bold text-mobile-btn xl:text-lg text-htr-charcoal tracking-widest uppercase no-underline bg-transparent border-0 cursor-pointer hover:text-htr-charcoal;
}

.btn-top {
  @apply flex flex-col justify-center font-poppins text-sm font-medium text-htr-canvas tracking-widest no-underline bg-transparent border-0 cursor-pointer;
}

.btn-link {
  @apply font-bicyclette font-bold text-mobile-btn xl:text-lg text-htr-dawn no-underline uppercase tracking-wider hover:text-htr-charcoal;
}

.btn-svg {
  @apply w-12 h-12 xl:w-20 xl:h-20 mr-3;
}

.btn-svg-outer {
  @apply stroke-2 xl:stroke-1 stroke-htr-charcoal;
}

.btn-svg-inner {
  @apply fill-htr-charcoal;
}

.btn-group {
  @apply flex items-center justify-between;
}

.btn-faq {
  @apply flex items-center justify-between w-full px-0 xl:pl-6 xl:pr-32 bg-transparent border-0 cursor-pointer;
}

.btn-faq .btn-svg {
  @apply w-12 h-12 xl:w-20 xl:h-20 mr-0;
}

.btn-faq.is-active .btn-svg {
  @apply rotate-180;
}

.btn-faq.is-active .btn-svg-outer {
  @apply fill-htr-charcoal;
}

.btn-faq.is-active .btn-svg-inner {
  @apply fill-htr-canvas;
}

.btn-close {
  @apply absolute top-[45px] left-[37px] z-70 w-14 h-14 p-0 bg-transparent border-0 cursor-pointer;
}

.btn-pickers {
  @apply flex items-center;
}

.btn-picker {
  @apply py-2 px-6 lg:py-2 lg:px-12 text-[10px] lg:text-sm font-poppins text-htr-charcoal uppercase tracking-wider bg-htr-canvas hover:bg-htr-moss border-0 cursor-pointer;
}

.btn-picker.is-active {
  @apply bg-htr-moss;
}

.btn-social {
  @apply inline-block w-5 h-5;
}

.btn-hamburger {
  @apply w-12 h-12 xl:ml-3 bg-transparent border-0 appearance-none cursor-pointer;
}

.btn-hamburger-line {
  @apply block relative w-full h-1 mx-auto bg-htr-charcoal;

  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.32s;
}

.btn-hamburger-line::before,
.btn-hamburger-line::after {
  @apply absolute left-0 right-0 w-full h-1 bg-htr-charcoal;

  content: "";
  transition-duration: 0.32s;
}

.btn-hamburger-line::before {
  top: -12px;
  transition: top 0.2s ease-in 0.25s, opacity 0.1s ease-in;
}

.btn-hamburger-line::after {
  bottom: -12px;
  transition: bottom 0.2s ease-in 0.25s,
    transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body.about .btn-hamburger-line {
  @apply lg:bg-htr-bg;
}

body.about .btn-hamburger-line::before,
body.about .btn-hamburger-line::after {
  @apply lg:bg-htr-bg;
}

@media (hover: hover) {
  .btn-icon:hover .btn-svg-outer,
  .btn-faq:hover .btn-svg-outer {
    @apply fill-htr-charcoal;
  }

  .btn-icon:hover .btn-svg-inner,
  .btn-faq:hover .btn-svg-inner {
    @apply fill-htr-canvas;
  }

  .btn-top:hover svg rect {
    @apply fill-htr-flame;
  }

  .btn-social:hover svg path {
    @apply fill-htr-flame;
  }
}

.btn-hamburger.is-active .btn-hamburger-line {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-hamburger.is-active .btn-hamburger-line::before {
  @apply top-0 opacity-0;

  transition: top 0.2s ease-out, opacity 0.1s ease-out 0.12s;
}

.btn-hamburger.is-active .btn-hamburger-line::after {
  @apply bottom-0 -rotate-90;

  transition: top 0.2s ease-out, opacity 0.1s ease-out 0.12s;
}
